@charset "utf-8";

/*.overlay {
    position: fixed;
    top: -25%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 400ms;
    visibility: visible;
    opacity: 1;
}
*/

@media only screen and (max-width: 1500px) {
    .overlay {
        position: fixed;
        top: -230px;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 400ms;
        visibility: visible;
        /* Este valor se cambió de hidden a visible */
        opacity: 1;
        /* Este valor se cambió de 0 a 1 */
    }
}

@media only screen and (max-width: 700px) {
    .overlay {
        position: fixed;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 400ms;
        visibility: visible;
        /* Este valor se cambió de hidden a visible */
        opacity: 1;
        /* Este valor se cambió de 0 a 1 */
    }
}


/* .overlay:target {
    visibility: visible;
    opacity: 1;
} */

#popupBody {
    width: 39%;
    height: 530px !important;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;
    background-image: url(../images/baners/pop_up_web.jpg);
}


/* 
@media only screen and (max-width: 700px) {
    #popupBody {
        width: 50%;
        height: 410px !important;
        padding: 1%;
        border-radius: 15px;
        box-shadow: 0 0 5px #CCC;
        background: #FFF;
        position: relative;
        margin: 20% auto;
        transition: all 5s ease-in-out;
        background-image: url(../images/baners/pop_u.jpg);
    }
}

@media only screen and (max-width: 1500px) {
    #popupBody {
        width: 50%;
        height: 800px !important;
        padding: 1%;
        border-radius: 15px;
        box-shadow: 0 0 5px #CCC;
        background: #FFF;
        position: relative;
        margin: 20% auto;
        transition: all 5s ease-in-out;
        background-image: url(../images/baners/pop_up.jpg);
    }
} */

#popup:target {
    visibility: hidden;
    /* Se regresa a hidden para ocultar */
    opacity: 0;
    /* Se regresa a o para hacerlo "invisible" */
}

#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
}


/* .popup1 {
    width: 550;
    height: 400;
} */