@charset "utf-8";
.overlay {
    position: fixed;
    top: -38%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 400ms;
    visibility: visible;
    opacity: 1;
    /* margin-top: 0; */
}

@media only screen and (max-width: 1000px) {
    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 400ms;
        visibility: visible;
        opacity: 1;
        /* margin-top: 30px; */
    }
}


/* @media only screen and (max-width: 550px) {
    .overlay {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 400ms;
        visibility: visible;
        opacity: 1;
    }
} */

#popupBody {
    width: 42.2%;
    height: 500px !important;
    padding: 1%;
    top: 40px;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    margin: 20% auto;
    transition: all 5s ease-in-out;
    background-image: url(../images/baners/pop_up_web.jpg);
}

@media only screen and (max-width: 1000px) {
    #popupBody {
        width: 50%;
        height: 500px !important;
        padding: 1%;
        border-radius: 15px;
        box-shadow: 0 0 5px #CCC;
        background: #FFF;
        position: relative;
        margin: 20% auto;
        transition: all 5s ease-in-out;
        background-image: url(../images/baners/pop_up_web.jpg);
    }
}

#popup:target {
    visibility: hidden;
    /* Se regresa a hidden para ocultar */
    opacity: 0;
    /* Se regresa a o para hacerlo "invisible" */
}

#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(252, 252, 252);
    transition: all 200ms;
}


/* .popup1 {
    width: 550;
    height: 400;
} */